<div class="h-[300px] bg-black mt-20">
  <div class="custom-container pt-[54px] flex flex-col justify-between h-full">
    <div class="">
      <div class="flex items-center">
        <img src="../../../assets/logo-white.svg" class="h-[17.05px] w-[13px] mr-[3px] my-auto">
        <span class="text-2xl text-white">Colynk_</span>
      </div>
      <div class="mt-[14px] text-[#BABABA]">
        <img src="../../../assets/Linkedin.svg" class="h-[24px] w-[24px] text-[#BABABA] inline-block mr-[10px] cursor-pointer">
        <img src="../../../assets/Instagram.svg" class="h-[24px] w-[24px] text-[#BABABA] inline-block mr-[10px] cursor-pointer">
        <img src="../../../assets/Facebook.svg" class="h-[24px] w-[24px] text-[#BABABA] inline-block mr-[10px] cursor-pointer">
      </div>
    </div>

    <div class="h-[70px]">
      <hr class="border-[#BABABA]">
      <div class="text-[#BABABA] text-sm h-full flex justify-between">
        <div class="my-auto">© 2025 Colynk. All rights reserved.</div>
        <div class="flex gap-4 my-auto">
          <div class="cursor-pointer">Terms of Service</div>
          <div class="cursor-pointer">Privacy Policy</div>
        </div>
      </div>
    </div>
  </div>
</div>
