<div class="h-[100px] w-full custom-container">
  <div class="flex justify-between h-full">
    <div class="flex content-center h-full cursor-pointer" (click)="navigateTo('')">
      <img src="../../../assets/logo-outline-black.svg" class="h-[34.69px] w-[26px] mr-3 my-auto">
      <span class="text-5xl h-fit my-auto">Colynk_</span>
    </div>

    <div class="flex">
      <div class="text-xl ml-[40px] my-auto cursor-pointer" (click)="navigateTo('ervaring')">Ervaring</div>
      <div class="text-xl ml-[40px] my-auto cursor-pointer" (click)="navigateTo('over-ons')">Over Ons</div>
      <div class="text-xl ml-[40px] my-auto cursor-pointer" (click)="navigateTo('contact')">
        <app-button size="medium" label="Contact" color="black" rounded="lg"></app-button>
      </div>
    </div>
  </div>
</div>
