<div class="custom-container h-20">
  <div class="flex items-center justify-between h-full">
    <a href="/" class="flex">
      <img src="assets/logo-outline-black.svg" alt="Colynk Logo" class="mr-2" />
      <div class="text-3xl">Colynk_</div>
    </a>
    <div class="">
      <ul class="flex space-x-5 justify-between items-center">
        <li>
          <a href="/" class="">Home</a>
        </li>
        <li>
          <a href="/over-ons" class="">Over Ons</a>
        </li>
        <li>
          <a href="/blog" class="">Blog</a>
        </li>
        <li>
          <a href="/contact" class="">Contact</a>
        </li>
        <li>
          <div class="border border-gray-950 flex">
            <div class="py-3 px-5 flex items-center space-x-2">
              <div>Nederlands</div>
              <img
                src="assets/icons/chevron-down.svg"
                alt="Dropdown Icon"
                class="w-4 h-4"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
