<section class="custom-container">
  <h1 class="text-7xl! font-bold!">Het Blog</h1>
  <h4 class="text-base! font-light!">Wat we voor jou hebben geschreven</h4>
</section>
<section class="bg-gray-50 py-5">
  <div class="custom-container">
    <div class="my-5 grid grid-cols-3 gap-5">
      @if (loading) {
      <div class="flex justify-center items-center mt-50">
        <app-loader size="lg"></app-loader>
      </div>
      } @if (!loading) { @for (blogPost of blogPosts; track blogPost.id) {
      @if($index === 0) {
      <a href="/blog/{{ blogPost.slug }}" class="col-span-2">
        <div
          class="bg-white cursor-pointer border border-gray-200 rounded-lg mb-5 hover:bg-gray-100 transition duration-200 ease-in-out grid grid-cols-2 h-full"
        >
          <img
            src="{{ blogPost.imageUrl }}"
            class="rounded-tl-lg rounded-bl-lg object-cover h-full"
            alt=""
          />
          <div class="flex flex-col space-between p-5">
            <div class="my-auto">
              <div class="text-neutral-500 text-xs font-light">
                {{ blogPost.publishedAt | date:'longDate' }}
              </div>
              <h2 class="mt-0 mb-5 text-6xl! font-bold">
                {{ blogPost.title }}
              </h2>
              <div>{{ blogPost.blurb }}</div>
            </div>
          </div>
        </div>
      </a>
      } @else {
      <a href="/blog/{{ blogPost.slug }}">
        <div
          class="bg-white cursor-pointer border border-gray-200 rounded-lg mb-5 hover:bg-gray-100 transition duration-200 ease-in-out h-full"
        >
          <img src="{{ blogPost.imageUrl }}" class="rounded-t-lg" alt="" />
          <div class="flex flex-col space-between p-5">
            <div>
              <div class="text-neutral-500 text-xs font-light">
                {{ blogPost.publishedAt | date:'longDate' }}
              </div>
              <h2 class="mt-0 mb-5 text-3xl font-bold">{{ blogPost.title }}</h2>
              <div>{{ blogPost.blurb }}</div>
            </div>
          </div>
        </div>
      </a>
      } } }
    </div>
  </div>
</section>
